.div1 {
	border : 10px ridge #f00;
	background-color: #f00;
	padding: .5rem;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 25%;
	position: sticky;
}
.div2 {
	border : 10px ridge #f00;
	background-color: #fff;
	padding: .5rem;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
	width: 50%;
	height: 75%;
	position: sticky;
}
.div3 {
	border : 10px ridge #ff0;
	background-color: #f00;
	padding: .5rem;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 75%;
	position: sticky;
	left: 800px;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.Lancer{
	border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;

}